torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
TTS==0.14.3
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.9
